.image_group {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}

.image_group > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image_title {
    margin-top: 0.5rem;
}