.image_group {
    display: grid;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 1rem;
}

.image_group div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.image_source {
    height: 300px;
}

.image_title {
    margin-top: 0.5rem;
    text-align: center;
}

@media only screen and (max-width: 832px) {
    .image_group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image_source {
        width: 100%;
        height: auto;
    }
}


